<div id="<%= dom_id post %>" class="flex flex-col gap">
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Title:</h4>
    <p class="leading-none"><%= post.title %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Description:</h4>
    <p class="leading-none"><%= post.description %></p>
  </div>
</div>
