<% content_for :title, "Editing post" %>

<h1 class="font-bold text-4xl mbe-4">Editing post</h1>

<%= render "form", post: @post %>

<div class="inline-flex flex-wrap items-center gap mbs-2" style="--row-gap: .5rem">
  <%= link_to "Show this post", @post, class: "btn" %>
  <%= link_to "Back to posts", posts_path, class: "btn" %>
</div>
