<% if notice.present? %>
  <div popover class="flash" style="--flash-position: 5rem;" data-controller="element-removal" data-action="animationend->element-removal#remove" role="alert"><%= notice %></div>
<% end %>

<% content_for :title, "Posts" %>

<div class="flex items-center justify-between mbe-4">
  <h1 class="font-bold text-4xl">Posts</h1>
  <%= link_to "New post", new_post_path, class: "btn btn--primary" %>
</div>

<div id="posts" class="flex flex-col" style="gap: 2rem;">
  <% @posts.each do |post| %>
    <div class="flex flex-col items-start gap">
      <%= render post %>
      <%= link_to "Show this post", post, class: "btn" %>
    </div>
  <% end %>
</div>
